*.o
*.a
*~
*.aux
*.log
*.bbl
*.blg
*.jpg
*.bmp
camshot/camshot
example/dcmotor/dcmotor
example/servomotor/servomotor
example/clocked/clocked
example/sigmoid/sigmoid
example/network-add/network-add
example/network/network
example/izikevich/izzy
example/threads/threads
example/sparse/sparse
example/integrator/integrator
example/speed/speed
example/camera/camera
example/camera+lateral/camera+lateral
mint-*.zip
doc/html
gh-pages/
